[Desktop Entry]
Type=Application
Version=1.0
Name=Imaginator
Comment=YaruMasterDetailPage example
Keywords=flutter;yaru;
Exec=imaginator
Icon=gallery-app
Terminal=false
Categories=Example;
